@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url('css\fonts\Montserrat-Regular.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url('css\fonts\Montserrat-Bold.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url('css\fonts\Montserrat-ExtraBold.woff2');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url('css\fonts\Montserrat-Italic.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url('css\fonts\Montserrat-Medium.woff2');
    font-style: normal;
  }

  body {
    font-family: 'Montserrat Medium';
    margin: 0;
  }
  
  .primary-button {
  font-family: 'Montserrat Medium';
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 14px 36px;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }
  
  h1 {
    font-family: 'Montserrat Medium';
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    text-align: center;
  }
  
 
  
  .home-section {
    
    background-image: url("../img/Rectangle.png");
    background-size: auto 100%;
    background-position: center;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .home-content .first-title {
  
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  
  .home-content .button-block button {
    font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
  }
  
  .home-section .navbar .navigator {
      font-family: 'Montserrat Medium';
      list-style-type: none;
      position: slick;
      display: flex;
      flex-direction: row;
     padding-left: 48%;
     padding-top: 2%;
     padding-bottom: 2%;
     margin: 0%;
     
      font-size: 16px;
      line-height: 20px;

      color: #FFFFFF;
  }

  hr {
    width: 100%;
  opacity: 0.5;
  border: 1px solid #A1A1A1;
}

  .service-sections {
      width: 100%;
    background: #E5E5E5;
  }

  h2  {
    font-family: 'Montserrat Medium';
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin-block-start: 0em;
  }
   
  .service-sections .container .service-fish {
      font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 2% 9% 4%;
    color: #999999;
  }

  .service-content .button-block button {
    font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
    margin: 5% 0% 8%;
  }

  .service-content .button-block {
    text-align: center;
  }

  .service-content .container .create-web .web {
      font-family: 'Montserrat Medium';
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
    
    
    color: #000000;
  }

  .service-content .container .create-web {
    list-style-type: none;
  }

  .service-content .container .create-web .create-fish {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 22px;
    list-style-type: none;
    
    
    color: #999999;
  }
  
  .service-sections .service-content .create {
    display: flex;
    flex-direction: row;

  }

  .one-block {
    display: flex;
  }

  .two-block {
    display: flex;
  }

  .three-block {
    display: flex;
  }

  #elipse {
    border-radius: 100%;
    border: 1px solid #E0E0E0;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #elipse1 {
    border-radius: 100%;
    border: 1px solid #4985FF;
    width: 80px;
    height: 80px; 
    display: flex;
    align-items: center;
    margin-left: 9%;
  }

  .round {
    margin: 21%;
  }
  
  .flex-coulmn {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
display: flex;
flex-direction: row;
  }

  .high-standart{
    background: #F6F6F8;
  }
  h4 {
    font-family: 'Montserrat-Bold';
    font-size: 36px;
    line-height: 53px;
    color: #000000;
  }

  
  .high-standart .high-standart-developer p {
    font-size: 16px;
    line-height: 25px;
    flex: 1;
    color: #999999;
    
  }
  .high-standart .our-project .web-programming .numder {
    font-family: 'Montserrat-Bold';
    font-size: 36px;
    line-height: 53px;
    color: #000000;

  }

  .high-standart .our-project .web-programming img {
    margin-right: 1em;
  }

  .high-standart .our-project .our-projects {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
  }

  .high-standart .out-projectss {
    justify-content: space-between;

  }
  
  .high-standart .high-standart-developer span,
  .high-standart .high-standart-developer img {
    flex:1;
  }








  .our-works-title {
    font-family: 'Montserrat-Medium';
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    line-height: 53px;
   

  }

  .our-works-title h3,
  .our-works-title-button {
    flex: 1;
  }

  .our-works-title-button {
    text-align: right;
  }

  h3 {
    color:#FFFFFF;
  }
  .our-works{
   
    background: linear-gradient(#504DC2 50%, #fcfbfd 50%);
  }


  .our-works-items {
    justify-content: space-between;
    margin: 0px 0 40px 0;
  }



  .our-works-item {
width: 32%;
  }

  



  .our-works-item img {
    width: 100%;
  }


  .our-works-item h4 {
    font-family: 'Montserrat-Italic';
    font-size: 18px;
line-height: 22px;

color:  #000000;
  }

  .our-works-item h4 span {
    font-family: 'Montserrat-Italic';
    font-size: 18px;
line-height: 22px;
    color:blue;
  }

  .our-works-item p {
    font-size: 16px;
    line-height: 25px;

    color: #999999;
  }


  

  .all-projects {
    background: #F6F6F8;
  }

  .all-projects .all-project h4 {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
line-height: 53px;
text-align: center;
margin-block-start: 0em;

color: #000000;

  }

  .all-projects .all-project p {
    font-family: 'Montserrat-Italic';
    font-size: 16px;
line-height: 25px;
text-align: center;
margin: 0% 15% 5% 15%;

color: #999999;
  }

  .all-projects .all-project-picture {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .all-projects .all-project-button {
    text-align: center;
  }

  .video-about-our-work {
  
    background-image: url("../img/Rectangle 6.png");
    background-size: auto 100%;
    background-position: center;
  }
    .white-block {
   
    background: white;
    background-size: auto 100%;
    background-position: center;
  }
 
  .video-about-our-work .container h6 {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
line-height: 53px;
text-align: center;
margin-block-start: 0em;

color: #FFFFFF;
  }

  .video-about-our-work .container p {
    font-family: 'Montserrat-Italic';
    font-size: 16px;
line-height: 25px;
text-align: center;

color: #FFFFFF;
  }


  .video-about-our-work .video-block {
    position: relative;
    margin: 14% 7% 0%;
    text-align: center;
  }
  

  .video-about-our-work .video-block .watch-video{
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 200px;
padding: 20px 20px;
justify-content: center;
align-items: center;
position: absolute;
  top: 40%;
  left: 40%;

  }

  .video-about-our-work .video-block .watch-video p {
    font-size: 16px;
  line-height: 25px;
  
  color: #FFFFFF;
  }
  



  .spam {
    text-align: center;
    margin: 85px auto;
  }



  .spam h5 {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
line-height: 22px;
text-align: center;

color: #000000;
  }

  .spam p {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
line-height: 25px;
text-align: center;

color: #999999;
  }

  .spam span {
    font-family: 'Montserrat-Bold';
    font-size: 13px;
line-height: 21px;
text-align: center;
color: #999999;
  }

.subscribe-block {
  justify-content: center;
  
  margin: 0 auto; 
  padding-bottom: 35px;
}

  .subscribe-block input {
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 30px 0 0 30px;
    flex:2;
  }
  

  .subscribe-block input::placeholder{
    font-family: 'Montserrat-Bold';
    font-size: 13px;
line-height: 21px;
    color:#999999;
    text-align: center;
  }

  .subscribe-block input:hover{
    background-color: #4985FF;
    cursor: pointer;
    transition: 1.5s;
  }
  .subscribe-block .primary-button {
    border-radius: 0 30px 30px 0;
    height: 45px;
    flex: 1;
  }


  .footer {
    background: #F6F6F8;
  }


  .footer-link {
    justify-content: space-between;
  }

  .footer .footer-link p {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    line-height: 22px;
    
  
  }

  .footer .footer-link li {
    font-size: 14px;
line-height: 22px;

color: #999999;
  }

  .footer .protection {
    font-size: 13px;
line-height: 21px;
text-align: center;

color: #999999;
  }

  @media (max-width: 900px) {
    .home-section .first-title {
      font-size: 12px;
      line-height: 16px;
    }
    .home-section .home-content h1 {
      font-size: 20px;
      line-height: 22px;
    }
    .primary-button {
      font-size: 14px;
      padding: 7px 14px;
    }

    .home-section .navbar .navigator {
      flex-wrap: wrap;
      font-size: 10px;
    }
    .service-sections .service-content h2,
    h4 {
      font-size: 14px;
      text-align: center;
    }
    .service-sections .service-content .service-fish {
      font-size: 10px;
    }
    .service-sections .service-content .create {
      flex-wrap: wrap;
    }
    .one-block {
      font-size: 10px;
      margin-bottom: 10px;
    }
    .two-block {
      font-size: 10px;
      margin-bottom: 10px;
    }
    .three-block {
      font-size: 10px;
      margin-bottom: 10px;
    }

    .our-works-items {
      flex-wrap: wrap;
    }
    .our-works-item {
      width: 47%;
      margin-bottom: 10px;
    }
    .our-works-item h4,
    .our-works-item h4 span,
    .our-works-item p,
    .our-works-item a {
      font-size: 10px;
    }
    .high-standart-developer {
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .high-standart .high-standart-developer p,
    a {
      font-size: 10px;
      text-align: center;
    }
    .high-standart-developer img {
      width: 250px;
      height: 200px;
    }
    .out-projectss  {
      flex-wrap: wrap; 
    }
    /* на 600
    .out-projectss  {
      flex-direction: coulmn; 
    }
    */
    .our-works-title h3{
      font-size: 14px;
    }
    /*на 600 уменьшить картинки*/
    .all-projects .all-project h4 {
      font-size: 14px;
    }
    .all-projects .all-project p {
      font-size: 10px;
    }
    .all-projects .all-project-picture {
      flex-wrap: wrap;
    }


    .video-about-our-work h6 {
      font-size: 14px;
    }
    .video-about-our-work p {
      font-size: 10px;
    }
    .video-block {
      width: 100%;
    }





    .spam-container h5 {
      font-size: 14px;
    }
    .spam-container p {
      font-size: 10px;
    }

    .subscribe-block input  {
      width: 0;
      flex-wrap: nowrap;
    }
    .footer-link {
      flex-direction: column;
    }
    .footer-link .contact-inf p,
    ul {
      font-size: 10px;
    }
    .footer-link .main-link p,
    ul {
      font-size: 10px;
    }
    .footer-link .project-our p,
    ul {
      font-size: 10px;
    }
    .footer-link .social-net p,
    ul {
      font-size: 10px;
    }
  }
  
  @media (max-width: 600px) {
   /* .our-works-item {
      width: 100%;
    }*/
    .home-section .first-title {
      font-size: 12px;
      line-height: 16px;
    }
    .home-section .home-content h1 {
      font-size: 20px;
      line-height: 22px;
    }
    .primary-button {
      font-size: 14px;
      padding: 7px 14px;
    }

    .home-section .navbar .navigator {
      flex-wrap: wrap;
      font-size: 10px;
    }
    .service-sections .service-content h2,
    h4 {
      font-size: 14px;
      text-align: center;
    }
    .service-sections .service-content .service-fish {
      font-size: 10px;
    }
    .service-sections .service-content .create {
      flex-wrap: wrap;
    }
    .one-block {
      font-size: 10px;
      margin-bottom: 10px;
    }
    .two-block {
      font-size: 10px;
      margin-bottom: 10px;
    }
    .three-block {
      font-size: 10px;
      margin-bottom: 10px;
    }

    .our-works-items {
      flex-wrap: wrap;
    }
    .our-works-item {
      width: 100%;
      margin-bottom: 10px;
    }
    .our-works-item h4,
    .our-works-item h4 span,
    .our-works-item p,
    .our-works-item a {
      font-size: 10px;
    }
    .high-standart-developer {
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .high-standart .high-standart-developer p,
    a {
      font-size: 10px;
      text-align: center;
    }
    .high-standart-developer img {
      width: 250px;
      height: 200px;
    }
    .out-projectss  {
      flex-wrap: wrap; 
    }
    
    .out-projectss  {
      flex-direction: coulmn; 
    }
    .our-works-title h3{
      font-size: 14px;
    }
    /*на 600 уменьшить картинки*/
    .all-projects .all-project h4 {
      font-size: 14px;
    }
    .all-projects .all-project p {
      font-size: 10px;
    }
    .all-projects .all-project-picture {
      flex-wrap: wrap;
    }
    /*.all-projects .all-project-picture {
      width: 155px;
      height: 155px;
    }*/
    .video-about-our-work h6 {
      font-size: 14px;
    }
    .video-about-our-work p {
      font-size: 10px;
    }
    .video-about-our-work .video-block {
      width: 100%;
    }




    .spam-container h5 {
      font-size: 14px;
    }
    .spam-container p {
      font-size: 10px;
    }

    .subscribe-block input  {
      width: 0;
      flex-wrap: nowrap;
    }
    .footer-link {
      flex-direction: column;
    }
    .footer-link .contact-inf p,
    ul {
      font-size: 10px;
    }
    .footer-link .main-link p,
    ul {
      font-size: 10px;
    }
    .footer-link .project-our p,
    ul {
      font-size: 10px;
    }
    .footer-link .social-net p,
    ul {
      font-size: 10px;
    }
  }