@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url('css\fonts\Montserrat-Regular.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url('css\fonts\Montserrat-Bold.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url('css\fonts\Montserrat-ExtraBold.woff2');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url('css\fonts\Montserrat-Italic.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url('css\fonts\Montserrat-Medium.woff2');
    font-style: normal;
  }

  body {
    font-family: 'Montserrat Medium';
    margin: 0;
  }
  
  .primary-button {
  font-family: 'Montserrat Medium';
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 14px 36px;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }
  
  h1 {
    font-family: 'Montserrat Medium';
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    text-align: center;
  }
  
  section {
    border: 2px solid red;
  }
  
  .home-section {
    height: 100vh;
    background-image: url("../img/Rectangle.png");
    background-size: auto 100%;
    background-position: center;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .home-content .first-title {
  
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  
  .home-content .button-block button {
    font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
  }
  
  .home-section .navbar .navigator {
      font-family: 'Montserrat Medium';
      list-style-type: none;
      position: slick;
      display: flex;
      flex-direction: row;
     padding-left: 48%;
     padding-top: 2%;
     padding-bottom: 2%;
     
      font-size: 16px;
      line-height: 20px;

      color: #FFFFFF;
  }

  hr {
    width: 100%;
  opacity: 0.5;
  border: 1px solid #A1A1A1;
}

  .service-sections {
      width: 100%;
    background: #E5E5E5;
  }

  h2  {
    font-family: 'Montserrat Medium';
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin: 8% 8% 4%;
  }
   
  .service-sections .container .service-fish {
      font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 2% 9% 4%;
    color: #999999;
  }

  .service-content .button-block button {
    font-family: 'Montserrat Medium';
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
    margin: 5% 0% 8%;
  }

  .service-content .button-block {
    text-align: center;
  }

  .service-content .container .create-web .web {
      font-family: 'Montserrat Medium';
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
    
    
    color: #000000;
  }

  .service-content .container .create-web {
    list-style-type: none;
  }

  .service-content .container .create-web .create-fish {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 22px;
    list-style-type: none;
    
    
    color: #999999;
  }
  
  .service-sections .service-content .create {
    display: flex;
    flex-direction: row;

  }

  .one-block {
    display: flex;
  }

  .two-block {
    display: flex;
  }

  .three-block {
    display: flex;
  }

  #elipse {
    border-radius: 100%;
    border: 1px solid #E0E0E0;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #elipse1 {
    border-radius: 100%;
    border: 1px solid #4985FF;
    width: 80px;
    height: 80px; 
    display: flex;
    align-items: center;
    margin-left: 9%;
  }

  .round {
    margin: 21%;
  }
  
  .flex-coulmn {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
display: flex;
flex-direction: row;
  }
  
  .our-works-title {
    justify-content: space-between;
    align-items: center;

  }

  .our-works-title h3,
  .our-works-title-button {
    flex: 1;
  }

  .our-works-title-button {
    text-align: right;
  }

  h3 {
    color:#FFFFFF;
  }
  .our-works{
    height: 100vh;
    background: linear-gradient(#504DC2 50%, #fcfbfd 50%);
  }


  .our-works-items {
justify-content: space-between;
  }

  .our-works-item {
width: 32%;
  }

  .our-works-item img {
    width: 100%;
  }

  .spam {
    text-align: center;
    height: 100vh;
  }

.subscribe-block {
  justify-content: center;
  width: 490px;
  margin: 0 auto;
}

  .subscribe-block input {
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 30px 0 0 30px;
    flex:2;
  }
  

  .subscribe-block input::placeholder{
    color: red;
  }
  .subscribe-block .primary-button {
    border-radius: 0 30px 30px 0;
    height: 45px;
    flex: 1;
  }

